<nav class="navbar navbar-light navbar-toggler" style="background-color: #0c0c0c;">
    <form class="form-inline">

        <button class="btn btn-link ml-auto" style="position: absolute; right: 0;" type=" button ">Logout</button>
        <button class="btn btn-link" type="button">Dashboard</button>

        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        <button class="btn btn-link" type="button">Search</button>


    </form>
</nav>