<div class="card w-75">
    <div class="card-body">
        <h5 class="card-title">Finance Details</h5>
        <p class="card-text">Total Money Donated</p>
        <p class="card-text">Total Money Spent</p>
        <p class="card-text">Total Money Unspent</p>
        <!-- <a href="#" class="btn btn-primary">Button</a> -->
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fund Raiser 1</h5>
                <p class="card-text">Total Money Raised</p>
                <p class="card-text">Total Money Spent</p>
                <p class="card-text">Total Money Available</p>
                <p class="card-text">Total Money Available to withdraw</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <button class="btn btn-primary">Wallet</button>
                <p class="card-text">Money Available</p>
                <p class="card-text">Money Transfer to your bank</p>
                <p class="card-text">Money Transfer from your bank</p>
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
        </div>
    </div>
</div>