<div class="alert alert-primary">
    <h5 class="alert alert-secondary"> Expenditure Details</h5>
    <h6 class="badge badge-light">Total Money collected is $2000</h6>
    <div class="alert alert-warning">
        <li>Drinking Water - $300</li>
        <li>First Aid Kit - $200</li>
        <li>Blankets - $800</li>
        <li>Shoes - $700</li>
    </div>
    <h6 class="badge badge-light">Project completed - Extra money collected and available to withdraw</h6>
    <br>
    <a routerLink="withdrawMoney"><button   type="button">Money Available to withdraw</button></a>

</div>