<div class="jumbotron">
    <form>
        <div class="form-group">
            <label for="userName">Username</label>
            <input required [(ngModel)]="userName1" name="userName" id="userName" type="text" placeholder="Username" #userName="ngModel" class="form-control">
            <label for="password">Password</label>
            <input required ngModel name="password" id="password" type="text" placeholder="Password" #password="ngModel" class="form-control">

        </div>
        <div>

            <button (click)="login()" class="btn btn-primary btnMargin">Login</button>
            <a routerLink="/register"><button class="btn btn-primary float-right btnMargin">Register Now</button> </a>
        </div>

    </form>
</div>