<div class="alert alert-primary">
    <h5 class="alert alert-secondary"> Money available to withdraw</h5>
    <h6 class="badge badge-light">You donated $1600, out of which $267 is un-used money and available to withdraw</h6>
    <div class="alert alert-primary"> Below are the donation details
        <div class="alert alert-warning">
            <li>Surendra donated - $1600 <button>Withdraw</button></li>
            <h6 class="badge badge-light">Withdraw your available money</h6>
            <li>Prakash donated - $1400</li>
            <li>Nikhil donated - $1200</li>
            <li>Saurabh donated - $1800</li>
        </div>

    </div>
    <!-- <h6 class="badge badge-light">Withdraw your available money</h6> -->
    <br>
    <!-- <a routerLink="withdrawMoney"><button   type="button">Money Available to withdraw</button></a> -->

</div>